* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   outline: 1px solid red; */
}

:root {
  /*Colors*/
  --primary-color: #d282a6;
  --secondary-color: #247ba0;
  --background-color: #ff69b4;
  --content-background: #ffd3e8;
  --text-color: #333;
  --white: white;

  /* spacing*/
  --spacing-small: 0.5rem; /*8px */
  --spacing-medium: 1rem; /*16px */
  --spacing-large: 1.5rem; /*24px */
  --spacing-xlarge: 2rem; /*32px */

  /*typography*/
  --font-family: Arial, sans-serif;
  --font-size-large: 2.5rem;
  --line-height: 1.6;
}

.nav-link:hover {
  background-color: var(--primary-color);
}

.content-link {
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: #333;
  background-color: var(--background-color);
}

.site-header {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.site-title {
  font-size: var(--font-size-large);
  margin: 0;
}

.main-content {
  max-width: 900px;
  margin: 2rem auto 1rem auto;
  padding: var(--spacing-xlarge);
  background-color: var(--content-background);
  border: 16px solid white;
  border-radius: var(--spacing-small);
  box-shadow: 0 2px 10px rgba (0, 0, 0, 0.1);

  text-align: center;
  line-height: 2.5em;
}

.facts-grid,
.intro-section,
.hobbies-section,
.facts-section {
  padding: 1.5rem 0;
  margin-bottom: var(--spacing-large);
  border-bottom: 5px solid #eee;
}

.main-content:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.highlight {
  background-color: var(--primary-color);
  color: white;
  padding: 2px 6px;
}

.site-footer {
  background-color: var(--content-background);
  color: white;
  text-align: center;
  padding: var(--spacing-medium);
  margin-top: var(--spacing-xlarge);
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.hobby {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.site-title {
  opacity: 0;
  animation: fadeSlideIn 1s ease-out forwards;
  animation-delay: 0.5s;
}

img:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
